*{
  border: 1px solid black;
}

.App {
  min-height: 100vh;
}

body {
  background-color: rgb(235, 255, 226);
  max-width: 1750px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.calendarWrapper {
  display: flex;
  justify-content: center;
}

.googleCalendar {
  width: 90%;
  height: 600px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.carouselContainer {
  height: 100%;
}

.eventImg {
  height: auto;
  width: 100%;
}