.section {
    padding: 30px 10px;
}

.upcomingEventsSection {
    background-color: rgb(217, 255, 217);
    margin-bottom: 0;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.eventItem {
    padding: 0;
    margin: 0;
}

.companySection {
    text-align: center;
    background-color: rgb(208, 208, 255);
}

.quickLinksSection {
    background-color: rgb(255, 199, 199);
}

.quickLinkItem {
    display: flex;
    justify-content: center;
    min-height: 50px;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}